*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    padding: 1rem;
    background-color: aqua;
    color: white;
    border-radius: 1rem;
}
button{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    outline: none;
    align-items: center;
    border-radius: 1rem;
    margin: auto;

}
button:hover{
    background-color:blue;
    color: white;


}